<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ToDo List</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  </head>
  <body>
    <section class="section">
    <div class="container">
        <h1 class="title">ToDo List</h1>
        {{ login }}
    </div>
    </section>
  <footer class="footer">
      <div class="container">
          <div class="content has-text-centered">
              <p><a href="https://github.com/hjacobs/flask-todo-app-example">Flask ToDo App Example</a> {{ version }}</p>
          </div>
      </div>
  </footer>
  </body>
</html>

